#words{		
margin-top: -100px;	
margin-left: 40px;
}
.titles {	
border: 10px yellow double;
}


.round{	
font-size: 11px;
font-weight: bolder;
height: auto;
}
.clear {
clear: both;
}			

.c1
{
height: 300px;
width: 300px;
}

