.tab-nav 
{
width: 910px;
overflow: hidden;
}
.tab-nav ul 
{
position: relative;
float: left; 
width: 1600px;
margin-left: 735px; 
padding-left: 0;
list-style-type: none;
}
.tab-nav li 
{ 
float: inherit;
clear: left; 
}
.tab-nav a 
{
display: block;
width: 104px;
border-right: 1px solid #ddd;
height: 25px;
line-height: 34px;
float: left;
text-align: center;
text-decoration: none;
color: #000;
}
.tab-nav a.expanded 
{
background-position: 2px -244px;
}    
.tab-nav ul ul 
{ 
float: left;  
width: auto; 
margin-left: 0;
}
.tab-nav li li 
{
clear: none;
}
.tab-nav li li a 
{ 
width: 400px; 
}

